{% extends 'global/base.html' %}

{% block title %}Mudar senha{% endblock title %}

{% block content %}
    <div class="page-column">
        <a class="icon-back" href="{% url 'accounts:profile' request.user.pk %}"><i class="fas fa-long-arrow-alt-left"></i></a>
        <h1>Mudar senha</h1>
        <form></form>
        <form class="form-change-password" action="{% url 'accounts:change_password_send' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{field.label}}</label>
                        {{field}}
                    
                    {% if field.help_text %}
                        <p>{{ field.help_text }}</p>
                    {% endif %}

                    <div class="errors-list">
                        {{field.errors}}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group-submit">
                <button type="submit">Salvar</button>
            </div>
        </form>
        {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock content %}