<div class="calendar-container">
    <div class="calendar-header">
      <p class="current-date"></p>
      <div class="calendar-icons">
        <i id="prev-month" class="fas fa-chevron-left"></i>
        <i id="next-month" class="fas fa-chevron-right"></i>
      </div>
    </div>
    <div class="calendar-body">
      <ul class="weeks">
        <li>D</li>
        <li>S</li>
        <li>T</li>
        <li>Q</li>
        <li>Q</li>
        <li>S</li>
        <li>S</li>
      </ul>
      <ul class="days"></ul>
    </div>
</div>