<form>
</form>
<form 
    class="main-form"
    action="{{ form_action }}" 
    method="POST"
    enctype="multipart/form-data" >
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{field}}

        {% if field.help_text %}
            <p class="help-text">{{ field.help_text }}</p>
        {% endif %}

        {{ field.errors }}
        </div>
    {% endfor %}

    {% if form.errors %}
    <div class="form-group">
        <div class="message message-error">
            Por favor, corrija os campos incorretos
        </div>
    </div>
    {% endif %}
    <div class="form-group form-group-submit">
        <button type="submit">Salvar</button>
    </div>
</form>