<div id="modal-delete-list"> 
    <div class="fade hide"></div>
    <div class="modal-body hide">
        <h2>Deseja excluir esta lista de tarefas?</h2>
        <p>Todas as tarefas desta lista também serão excluídas. Após a exclusão não será possível recuperá-las novamente.</p>
        <div class="buttons-modal">
            <button class="btn-cancel" id="btn-cancel-del-list">Cancelar</button>
            <button class="btn-confirm" id="btn-confirm-del-list">Confirmar</button>
        </div>
    </div>
</div>